.titleSection {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

#Home.row {
  color: #eee;
  background-color: #2d3142;
  display: table;
  position: relative;
  height: 100vh;
  text-align: center;
  width: 100%;
  margin: 0;
}

.businessCard {
  display: inline-block;
  position: relative;
  padding: 10px;
  -webkit-perspective: 800px;
  perspective: 800px;
}

@media (min-width: 850px) {
  .businessCard {
    width: 787px;
    height: 450px;
  }
  .frontCard {
    width: 787px;
    height: 450px;
  }
  .backCard {
    width: 787px;
    height: 450px;
  }
  .frontCard::before {
    width: 50px;
    height: 50px;
    border-top: 25px solid #6b7c9a;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #6b7c9a;
    border-right: 25px solid transparent;
  }
  .insideBack {
    left: 262px;
  }
  .insideBack ul li a {
    font-size: 1.9rem;
  }
}

@media (max-width: 849px) {
  .businessCard {
    width: 315px;
    height: 180px;
  }
  .frontCard {
    width: 315px;
    height: 180px;
  }
  .backCard {
    width: 315px;
    height: 180px;
  }
  .frontCard::before {
    width: 22px;
    height: 22px;
    border-top: 11px solid #6b7c9a;
    border-bottom: 11px solid transparent;
    border-left: 11px solid #6b7c9a;
    border-right: 11px solid transparent;
  }
  .insideBack {
    left: 105px;
  }
  .insideBack ul li a {
    font-size: 0.65rem;
  }
}

.frontCard {
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: inline-block;
  position: absolute;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-image: url("../../images/JacobArthursCard8.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;

  cursor: pointer;
  z-index: 2;
  -webkit-transform: rotateY(5deg) rotateX(5deg);
  transform: rotateY(5deg) rotateX(5deg);
  transition: -webkit-transform 2s ease, background 0.2s ease;
  transition: transform 2s ease, background 0.2s ease;
}

.frontCard::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  bottom: -1px;
  right: -1px;
  z-index: 2;
}

.frontCard:hover {
  position: absolute;
  -webkit-transform: rotateY(15deg) rotateX(5deg);
  transform: rotateY(15deg) rotateX(5deg);
}

.frontCard.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.backCard {
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: inline-block;
  position: absolute;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-image: url("../../images/JacobArthursCardBack.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  padding: 100px;
  -webkit-transform: rotateY(-5deg) rotateX(5deg);
  transform: rotateY(-5deg) rotateX(5deg);
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
}

.backCard::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  bottom: -1px;
  left: -1px;
}

.backCard:hover {
  position: absolute;
  -webkit-transform: rotateY(-15deg) rotateX(5deg);
  transform: rotateY(-15deg) rotateX(5deg);
}

.backCard.flip {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.insideBack {
  position: absolute;
  padding: 15px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.insideBack ul {
  height: 100%;
  width: 100%;
  display: table;
  list-style: none;
  padding: 0;
}

.insideBack ul li {
  display: table-row;
  text-align: center;
}

.insideBack ul li .svg-inline--fa {
  margin-right: 15px;
}

.insideBack ul li a {
  display: table-cell;
  vertical-align: middle;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-align: left;
  color: #2d3142;
}

.insideBack ul li a:hover {
  filter: drop-shadow(0 0 3px #ef8354);
  text-decoration: underline;
  transition: 0.2s ease;
}
