.resumeContainer {
  position: relative;
  text-align: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 25px;
  justify-content: center;
}

.resumeContainer a {
  font-weight: 501;
  font-family: "Montserrat", sans-serif;
  color: #4f5d75;
  text-decoration: none;
}

.resumeContainer a:hover {
  color: #4f5d75;
  filter: drop-shadow(0 0 3px #bfc0c0);
  text-decoration: underline;
  transition: 0.2s ease;
}

@media (min-width: 850px) {
  .resumeContainer a {
    font-size: 5rem;
    letter-spacing: -5px;
  }
}

@media (max-width: 850px) {
  .resumeContainer a {
    font-size: 4rem;
    letter-spacing: -4px;
  }
}
