#Skills.row {
  color: #000;
  background-color: #fff;
  position: relative;
  height: 100vh;
  text-align: center;
  width: 100%;
  margin: 0;
  justify-content: center;
  overflow: hidden;
}

.skillsBackground {
  height: 200%;
  width: 100%;
  top: 100px;
  position: absolute;
  background-image: url("../../images/carousel/ParallaxWaves.png");
  background-size: cover;
}

.skillsTitle {
  display: inline;
  position: relative;
  margin-top: 25px !important;
  width: fit-content !important;
  font-weight: 501;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  letter-spacing: -5px;
  color: #2d3142;
}

.swiperContainer {
  padding-left: 0 !important;
  padding-right: 0 !important;
  z-index: 2;
}

#bottomSwiper {
  margin-top: 150px;
}

.swiperContainer img {
  user-select: none;
}
